<div class="carrito-main">
    <div class="carrito-titulo-contenedor">
        <h1 class="carrito-titulo">Productos añadidos al carrito de compras</h1>
    </div>

    <section class="carrito-productos">

        <article class="producto">
            <img src="/images/xbox-control.png" alt="Mando de XBOX" class="imagen-producto">
            <div class="info-producto">
                <p class="precio-producto">44000</p>
                <p class="oferta-producto">10%</p>
                <b class="titulo-producto">Mando Xbox One</b>
                <i class="fa-solid fa-cart-arrow-down"></i>
            </div>
        </article>

        <article class="producto">
            <img src="/images/cat-parlante.png" alt="xd" class="imagen-producto">
            <div class="info-producto">
                <p class="precio-producto">60000</p>
                <p class="oferta-producto">25%</p>
                <b class="titulo-producto">Parlante CAT</b>
                <i class="fa-solid fa-cart-arrow-down"></i>
            </div>
        </article>

        <article class="producto">
            <img src="/images/iphone-14-promax.png" alt="xd" class="imagen-producto">
            <div class="info-producto">
                <p class="precio-producto">650000</p>
                <p class="oferta-producto">8%</p>
                <b class="titulo-producto">Iphone 14 Pro Max 256Gb</b>
                <i class="fa-solid fa-cart-arrow-down"></i>
            </div>
        </article>

    </section>

    <section class="carrito-productos">

        <article class="producto">
            <img src="images/xbox-control.png" alt="Mando de XBOX" class="imagen-producto">
            <div class="info-producto">
                <p class="precio-producto">44000</p>
                <p class="oferta-producto">10%</p>
                <b class="titulo-producto">Mando Xbox One</b>
                <i class="fa-solid fa-cart-arrow-down"></i>
            </div>
        </article>

        <article class="producto">
            <img src="images/cat-parlante.png" alt="xd" class="imagen-producto">
            <div class="info-producto">
                <p class="precio-producto">60000</p>
                <p class="oferta-producto">25%</p>
                <b class="titulo-producto">Parlante CAT</b>
                <i class="fa-solid fa-cart-arrow-down"></i>
            </div>
        </article>

        <article class="producto">
            <img src="/images/iphone-14-promax.png" alt="xd" class="imagen-producto">
            <div class="info-producto">
                <p class="precio-producto">650000</p>
                <p class="oferta-producto">8%</p>
                <b class="titulo-producto">Iphone 14 Pro Max 256Gb</b>
                <i class="fa-solid fa-cart-arrow-down"></i>
            </div>
</div>
</article>

</section>