<footer>
  <section>
    <article>
      <p style="text-shadow: 1px 1px 2px #aa00ff; color: #fff">Electro House</p>
    </article>
    <article>
      <p>Atención al Cliente</p>
      <a>Compras en linea</a>
      <a>Envíos</a>
      <a>Mis pedidos</a>
      <a>Opciones para regalo</a>
    </article>
    <article>
      <p>Nosotros</p>
      <a>Quienes somos</a>
      <a>Tiendas oficiales</a>
      <a>Eventos</a>
      <a>Trabaja con Nosotros</a> 
    </article>
    <article>
      <p>Metodos de Pago</p>
      <a>PayPal</a>
      <a>MercadoPago</a>
      <a>Mastercard</a>
      <a>Otro</a>
    </article>
  </section>
  <nav>
    <i class="fa-brands fa-x-twitter"></i>
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-whatsapp"></i>
    <i class="fa-brands fa-youtube"></i>
  </nav>
  <div>
    <a>ElectroHouse © 2023</a>
  </div>
</footer>