 <header>

    <div class="logo purplelogo"> 
        <img src="images/logo.jpg" alt="Logo de electroHouse" width="100px" height="100px">
    </div>

    <nav>

        <form class="form-header" action="#" method="GET">
            <input class="graybox" placeholder="Buscar productos..."><button type="submit" class="purplebox fa fa-search"></button>
        </form>

        <ul>
            <li href="#" class="purplebox"><a>Off</a></li>
            <li href="#" class="purplebox"><a>Tiendas Oficiales</a></li>
            <li href="#" class="purplebox"><a>Vender</a></li>
            <li href="#" class="purplebox"><a>Ayuda</a></li>
        </ul>
    
    </nav>
    

    <section>

        <div class="usericon"><a href="register"><i class="fa-regular fa-user purplebox"></i></a></div>

        <div class="subicon">
            <a href="/login"><i class="fas fa-sign-in-alt purplebox"></i></a>
            <a href="/carrito"><i class="fas fa-shopping-basket purplebox"></i></a>
        </div>

    </section>

</header>