<header>

    <div class="logo purplelogo"> 
        <a href="/"><img src="/images/logo.jpg" alt="Logo de electroHouse" width="100px" height="100px"></a>
    </div>

    <nav>

        <form class="form-header" action="#" method="GET">
            <input class="graybox" placeholder="Buscar productos..."><button type="submit" class="purplebox fa fa-search"></button>
        </form>

        <ul>
            <li  class="purplebox"><a href="#">Off</a></li>
            <li class="purplebox"><a href="#">Tiendas Oficiales</a></li>
            <li class="purplebox"><a href="/products/crudPage">Vender</a></li>
            <li class="purplebox"><a href="#">Ayuda</a></li>
            <li  class="purplebox"><a href="/products/">Productos</a></li>
        </ul>
    
    </nav>
    

    <section>

        <div class="usericon"><a href="/users/register"><i class="fa-regular fa-user purplebox"></i></a></div>

        <div class="subicon">
            <a href="/users/login"><i class="fas fa-sign-in-alt purplebox"></i></a>
            <a href="/products/carrito"><i class="fas fa-shopping-basket purplebox"></i></a>
        </div>

    </section>

</header>