<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito De Compras</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="css/stylesCarrito.css">
    <link rel="stylesheet" href="css/stylesA.css">
</head>

<body>

    <header>
        <div class="top-header">
            <div>
                <div class="logo"> 
                   <img src="images/logo.jpg" alt="Logo de electroHouse" width="150px" height="150px">
                </div>
            </div>
            <form class="form-home" action="#" method="GET">
                <input placeholder="Buscar productos..."><button type="submit" class="fa fa-search"></button>
            </form>
        </div>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
     
        <nav class="linea-arriba">
            <ul>
                <li><a href="#">Off</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/carrito">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>

    </header>

    <main class="carrito-de-compras">



        <div class="carrito-main">
            <div class="carrito-titulo-contenedor">
                <h1 class="carrito-titulo">Productos añadidos al carrito de compras</h1>
            </div>

            <section class="carrito-productos">

                <article class="producto">
                    <img src="images/xbox-control.png" alt="Mando de XBOX" class="imagen-producto">
                    <div class="info-producto">
                        <p class="precio-producto">44000</p>
                        <p class="oferta-producto">10%</p>
                        <b class="titulo-producto">Mando Xbox One</b>
                        <i class="fa-solid fa-cart-arrow-down"></i>
                    </div>
                </article>

                <article class="producto">
                    <img src="images/cat-parlante.png" alt="xd" class="imagen-producto">
                    <div class="info-producto">
                        <p class="precio-producto">60000</p>
                        <p class="oferta-producto">25%</p>
                        <b class="titulo-producto">Parlante CAT</b>
                        <i class="fa-solid fa-cart-arrow-down"></i>
                    </div>
                </article>

                <article class="producto">
                    <img src="images/iphone-14-promax.png" alt="xd" class="imagen-producto">
                    <div class="info-producto">
                        <p class="precio-producto">650000</p>
                        <p class="oferta-producto">8%</p>
                        <b class="titulo-producto">Iphone 14 Pro Max 256Gb</b>
                        <i class="fa-solid fa-cart-arrow-down"></i>
                    </div>
                </article>

            </section>

            <section class="carrito-productos">

                <article class="producto">
                    <img src="images/xbox-control.png" alt="Mando de XBOX" class="imagen-producto">
                    <div class="info-producto">
                        <p class="precio-producto">44000</p>
                        <p class="oferta-producto">10%</p>
                        <b class="titulo-producto">Mando Xbox One</b>
                        <i class="fa-solid fa-cart-arrow-down"></i>
                    </div>
                </article>

                <article class="producto">
                    <img src="images/cat-parlante.png" alt="xd" class="imagen-producto">
                    <div class="info-producto">
                        <p class="precio-producto">60000</p>
                        <p class="oferta-producto">25%</p>
                        <b class="titulo-producto">Parlante CAT</b>
                        <i class="fa-solid fa-cart-arrow-down"></i>
                    </div>
                </article>

                <article class="producto">
                    <img src="images/iphone-14-promax.png" alt="xd" class="imagen-producto">
                    <div class="info-producto">
                        <p class="precio-producto">650000</p>
                        <p class="oferta-producto">8%</p>
                        <b class="titulo-producto">Iphone 14 Pro Max 256Gb</b>
                        <i class="fa-solid fa-cart-arrow-down"></i>
                    </div>
        </div>
        </article>

        </section>

    </main>

    <footer>

    </footer>
</body>

</html>