<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ElectroHouse</title>
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <script> src ="https://kit.fontawesome.com/f7ce8fc261.js" </script>
</head>
<header>
    
</header>
<body>
    <nav>
        <h3>detalles del producto</h3>
    </nav>
    <main>
        <section>
            <img src="/public/images/iphone-14-promax.jpg">
        </section>
        <section>
           <h3>Iphone 14 ProMax</h3>
           <h4>$1.090.999</h4>
           <h5>12x $185.524</h5>
           <ul> Detalles generales del producto
           <li>IOS 16</li>
           <li></li>Pantalla Super Retina XDR de 6.1 pulgadas</li>
           <li></li>Cámara gran angular de 48MP</li>
           <li>256 GB</li>
           <li>Color:Oro</li>
           </ul>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>