<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com/">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<script> src ="https://kit.fontawesome.com/f7ce8fc261.js" </script>
<script src="https://kit.fontawesome.com/d11b542e83.js" crossorigin="anonymous"></script>
</head>

<body>
<main class="mainform">
    <div class="centrarform">
            <h2>Datos</h2>
    <form action="/register" method="post" class="formulario">

        <label for="Nombre">Nombre completo</label>
        <input class="espacios" type="text" name="Nombre" id="Nombre" required pattern="[A-Za-z]{2,30}">
    
        <label for="Usuario">Ingresa un nombre de usuario</label>
        <input class="espacios" type="text" name="Usuario" id="Usuario" pattern="[A-Za-z0-9-]{3,15}" >
    
        <label for="Fecha">Correo electronico</label>
        <input class="espacios" type="email" name="correo" id="Fecha" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}">

        <label for="Telefono">Numero de telefono</label>
        <input class="espacios" type="text" alt="number" required pattern="[0-9]{10}">

    <div>Contraseña</div>
    <input class="espacios" type="password" name="contraseña" value="contraseña" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$">

    <div>¿Desea recibir novedades de nuestros productos por correo?
    <div>Si<input type="radio" name="eleccion"  value="S"></div>
    <div>No<input type="radio" name="eleccion"  value="N"></div>
    </div>

    <div class="inv"> 1</div>
    <button type="submit" class="enviar"> Enviar datos</button>
    <button class="botoncancelar" type="reset">X</button>
    </form>
    <a class="sesion" href="/login">¿Ya tienes una cuenta? Inicia sesion</a>
    </div>

</main>
</body>
</html>