*{
    font-family: 'Gemunu Libre', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
main article{
    margin: 30px 0 8px 0;
}
main article section{
    backdrop-filter: blur(3px) brightness(0.4);
    background: #0a0a0a69;
    border: solid 1px #333;
    color: #666;
    border-radius: 10px;
    margin: 8px 0;
}
main article section:first-child{
    display: grid;
    grid-template-columns: 25px 1fr 37% 20%;
    grid-template-rows: 1fr 1fr 1fr;
}
main article section:first-child p, main article section:last-child p{
    justify-self: start;
}
.waos-nav{
    grid-row-start: 1;
    grid-row-end: 4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
}
.waos-nav a{
    color: #666;
    padding: 1px;
}
.waos-nav a:first-child:hover{
    color: #00ff00;
    text-shadow: 0 0 3px currentColor;
}
.waos-nav a:nth-child(2):hover{
    color: #0080ff;
    text-shadow: 0 0 3px currentColor;
}
.waos-nav a:nth-child(2) form button{
    color: #666;
}
.waos-nav a:nth-child(2) form button:hover{
    color: #c83838;
    text-shadow: 0 0 3px currentColor;
}
.waos-nav a:nth-child(3) form button i{
    font-size: 1.3em;
}
.waos-nav a:nth-child(3) form button i:hover{
    color: #ff0000;
    text-shadow: 0 0 3px currentColor;
}
.waos-nav a:last-child:hover{
    color: #ffffff;
    text-shadow: 0 0 3px currentColor;
}
main article img{
    align-self: center;
    grid-row-start: 1;
    grid-row-end: 4;
    height: 100px;
}
main article section p{
    margin: 5px;
    justify-self: center;
    align-self: center;
}
main article section:first-child p:nth-of-type(1){
    grid-column-start: 3;
    grid-column-end: 5;
}
main article section:first-child p:nth-of-type(2){
    grid-column-start: 3;
    grid-column-end: 5;
}
main article section:nth-child(2){
    display: flex;
    justify-content: space-around;
}
main article section:nth-child(2) p{
    margin: 1px;
}
main article section:last-child{
    display: grid;
    grid-template-columns: 45% 1fr;
}
@media (min-width: 460px){
    main article img{
        height: 200px;
        margin: 0 0 0 10px;
    }
    .waos-nav{
        margin: 0 0 0 10px;
    }
}
@media(min-width: 768px){
    main article{
        font-size: 1.3em;
        margin: 130px 0 0 0 ;
    }
    main article img{
        height: 350px;
        margin: 0 0 0 25px;
    }
    .waos-nav{
        margin: 0 0 0 25px;
    }
}