*{
    font-family: 'Gemunu Libre', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
main section{
    display: flex;
    margin: 30px 10px 5px 10px;
    justify-content: flex-start;
    border-radius: 20px;
    border: solid 1px #999;
    font-size: 0.9em;
}
main section div.left-side {
    background: linear-gradient(45deg, #000000b8, #393939bd);
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: inset -10px 0px 4px -10px #ffffff;
}
main section div nav{
    width: 95%;
    color: #ccc;
    background: #000000b5;
    display: flex;
    justify-content: space-between;
    margin: 7px;
    padding: 7px;
    border-radius: 10px;
}
main section div nav a{
    text-decoration: none;
}
main section div nav a i{
    color: #999;
    transition: all 0.5s;
}
main section div nav a i.fa-cart-plus:hover{
    color: #21c021;
    text-shadow: 0 0 5px #21c021;
}
main section div nav a i.fa-pencil:hover{
    color: #267eaa;
    text-shadow: 0 0 5px #267eaa;
}
main section div nav a i.fa-trash-can:hover{
    color: #ff0000;
    text-shadow: 0 0 5px #ff0000;
}
main section div nav a i.fa-share:hover{
    color: #fff;
    text-shadow: 0 0 5px #fff;
}
main section img{
    width: 80%;
    height: auto;
    padding: 5px;
    border-radius: 20px;
    margin: 30px 0px;
}
main section article{
    color: #ccc;
    width: 60%;
    background: #040404eb;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: space-evenly;
}
main section article p{
    padding: 5px 15px;
    margin: 0;
}
@media (min-width: 460px){
    main section{
        margin: 30px 15% 5px 15%;
    }
}
@media(min-width: 768px){
    main section{
        font-size: 1.3em;
        margin: 130px 15% 5px 15%;
    }
}