*{
    font-family: 'Gemunu Libre', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    margin: 0px;
}
.history-var{
    grid-template-rows: 1fr;
    grid-template-columns: 45px repeat(auto-fill, minmax(78px, 78px));
    gap: 1px;
    font-size: 1.4em;
    background: linear-gradient(90deg, #000000b8, #1c002b78);
    border: solid 1px #150021a3;
    align-items: center;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    height: 80px;
    width: auto;
    display: none;
}
.history-var div:first-child{
    display:grid;
    justify-items: center;
    font-size: 0.7em;
    color: #aa00ff;
    background: linear-gradient(270deg, #29003f57, #7626cb4f);
    border-radius: 10px;
    margin: 5px;
    padding: 10px 0;
}
main section article img{
    width: 100%;
}
.history-var article{
    height: 78px;
    width: 78px;
}
.history-var article:last-child a{
    border-radius: 0 9px 9px 0;
}
.history-var article a{
    background: linear-gradient(0deg, #000000b5, #ffffff12);
    flex-direction: column;
    align-items: center;
    display: flex;
    margin: 0 1px 0 0;
    height: 78px;
    width: 78px;
}
.history-var article a:hover{
    background: linear-gradient(0deg, #1b0029, #00000000);
}
.history-var article img{
    height: 50px;
    width: auto;
}
.history-var h5{
    font-size: 0.5em;
    margin: 0em;
    color: #fff;
}
.history-var h6{
    font-size: 0.5em;
    margin: 0em;
    color: #888;
}
.filter-form{
    position: relative;
    backdrop-filter: blur(3px) brightness(0.4);
    background: #00000069;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 24px 1fr 1fr 1fr;
    border: solid 1px #333;
    border-radius: 15px;
    font-size: 0.7em;
    color: #666;
    display: grid;
    margin: 5px;
    width: 270px;
    padding: 10px 0;
    gap: 10px;
}
.filter-form h3:first-child{
    font-size: 1.7em;
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    align-self: center;
}
.filter-form input{
    color: #666;
    border-radius: 10px;
    appearance: none;
    margin: 0;
    padding: 0 5px;
    width: 70%;
    height: 90%;
    display: grid;
    justify-self: center;
    place-content: center;
    border: solid 1px #333;
    cursor: pointer;  
}
.filter-form input:nth-of-type(1)::before{
    content: "Precio < a 100k";
    width: 100%;
    height: 100%;
    border: solid 1px #00000000;
    transition: 120ms all;
}
.filter-form input:nth-of-type(2)::before{
    content: "Precio > a 100k";
    width: 100%;
    height: 100%;
    border: solid 1px #00000000;
    transition: 120ms all;
}
.filter-form input:nth-of-type(3)::before{
    content: "Orden A-Z";
    width: 100%;
    height: 100%;
    border: solid 1px #00000000;
    transition: 120ms all;
}
.filter-form input:nth-of-type(4)::before{
    content: "Orden Z-A";
    width: 100%;
    height: 100%;
    border: solid 1px #00000000;
    transition: 120ms all;
}
.filter-form input:checked{
    border: solid 1px #aa00ff;
    box-shadow: 0 0 3px #aa00ff;
}
.filter-form select{
    justify-self: center;
    outline: none;
    width: 70%;
    background: none;
    border-radius: 7px;
    border: solid 1px #333;
    color: #666;
}
.filter-form select option{
    background-color: #000000f0;
}
.filter-form button:last-child{
    justify-self: center;
    outline: none;
    width: 70%;
    background: none;
    border-radius: 7px;
    border: solid 1px #333;
    color: #666;
}
.filter-form button.hide-button{
    position: absolute;
    top: 5px;
    right: 5px;
    background: #00000080;
    border: solid 1px #333;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    align-self: center;
    justify-self: center;
}
.shop-var{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    justify-items: center;
    gap: 3px;
}
.shop-var a article{
    backdrop-filter: blur(3px) brightness(0.4);
    background: #00000069;
    grid-template-columns: 1fr 1fr;
    border: solid 1px #333;
    border-radius: 15px;
    font-size: 0.7em;
    color: #666;
    display: grid;
    margin: 5px;
    width: 270px;
}
.shop-var a article p{
    font-size: 1.5em;
    justify-self: center;
    margin: 0;
}
.shop-var a article p:first-child{
    justify-self: start;
    margin: 0 0 5px 10px;
    font-style: italic;
    grid-column-start: 1;
    grid-column-end: 3;
}
.shop-var a article img{
    grid-row-start: 2;
    grid-row-end: 5;
    align-self: center;
    justify-self: center;
    height: 100px;
    width: auto;
}
.shop-var a article p:nth-of-type(2){
    grid-column-start: 2;
    grid-column-end: 3;
}
.shop-var a article div{
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    width: 50%;
    justify-self: center;
    align-self: center;
    align-items: center;
}
.shop-var a article div form i{
    font-size: 1.3em;
}

.shop-var a article div i{
    transition: all 0.5s;
}
.shop-var a article div form i:first-child:hover{
    color: #d54343;
    text-shadow: 0 0 2px currentColor;
    cursor: pointer;
}
.shop-var a article div i:nth-child(2):hover{
    color: #439dd5;
    text-shadow: 0 0 2px currentColor;
}
.shop-var a article div i:last-child:hover{
    color: #d4d3d3;
    text-shadow: 0 0 2px currentColor;
}
.shop-var a article p:nth-of-type(3){
    color: #33b133;;
    text-shadow: 0 0 2px currentColor;
}
.shop-var a article p:last-child{
    color: #67188f;
    text-shadow: 0 0 2px currentColor;
    justify-self: start;
    margin: 0 0 5px 10px;
}
.waos{
    margin: 25px 5px 5px 5px;
}
.waos-min{
    margin: 25px 5px 5px 5px;
}

.hidden {
    display: none;
}

.visible {
    width: 3%;
}

@media (min-width: 475px){
}
@media (min-width: 635px){

}
@media(min-width: 768px){
    .history-var{
        display: grid;
    }
    .waos-min{
        margin: 5px 5px 5px 5px;
    }
    .waos{
        margin: 130px 5px 5px 5px;
    }
}

@media(min-width: 1024px){
    
}