*{
    font-family: 'Gemunu Libre', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-image: url(/images/fondo.jpg);
    background-size: 45%;
}
main section.history-var{
    background: linear-gradient(180deg, #000000f2, #434343e8);
    border: solid 1px #999999;
    align-items: center;
    border-radius: 10px;
    display: flex;
    margin: 25px 0;
}
main section article img{
    width: 100%;
}
.history-var div{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #c7c7c7;
    display: flex;
    height: 4em;
    width: 7em;
    font-size: 0.5em;
}
.history-var article a{
    background: linear-gradient(0deg, #000, #00000000);
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    display: flex;
    margin: 0 1px;
    height: 4em;
    width: 4em;
}
.history-var article a:hover{
    background: linear-gradient(0deg, #1b0029, #00000000);
}
.history-var h5{
    font-size: 0.5em;
    margin: 0em;
    color: #fff;
}
.history-var h6{
    font-size: 0.5em;
    margin: 0em;
    color: #888;
}
.shop-var{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.shop-var img{
    width: 7em;
    position: relative;
    bottom: 15px;
}
.shop-var a{
display: flex;
flex-direction: column;
}
.shop-var article{
    width: 15em;
    border-radius: 7px;
    margin: 7px;
}
.shop-var h5{
    margin: 0px;
}
.art-title{
    display: flex;
    color: #999;
    justify-content: space-between;
    padding: 10px;
    font-style: italic;
}
.art-content{
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
aside{
    display: flex;
    flex-direction: column;
}
aside i{
    padding: 5px 2px 40px 2px;
}
.art-price{
    position: relative;
    right: 5px;
    width: 0px;
    margin: 10px 0;
}
.waos{
    margin: 20px 0 0 0;
}
@media (min-width: 361px){

}
@media(min-width: 768px){
    main section.history-var{
        margin-top: 130px;
    }
    .waos{
        margin: 120px 0 0 0;
    }
}