header{
    justify-content: space-between;
    background-color: #030303;
    flex-direction: column;
    flex-wrap: nowrap;
    display: flex;
    color: #666;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}
header div.min{
    justify-content: space-between;
    align-items: center;
    font-size: 0.6em;
    padding: 3px 10px;
    display: flex;
}
header div.min form{
    display: flex;
}
header div.min form input{
    border: 1px solid #0d0d0d;
    background: #010101;
    border-radius: 15px;
    font-size: 1.5em;
    color: #666;
    padding: 0px 0px 0px 10px;
    width: 25vw;
}
header div.min article a{
    padding: 0 5px;
}
header div.min form button{
    border: 1px solid #0d0d0d;
    background: #010101;
    border-radius: 15px;
    color: #aa00ff;
    margin-left: 5px;
    font-size: 0.5em;
    padding: 5px;
}
header div.max{
    display: none;
}



footer{
    border-top-left-radius: 75px;
    border: solid 1px #666;
    background: #000000e9;
    flex-direction: column;
    transition: all 1s;
    padding: 15px 35px;
    display: flex;
    color: #666;
}
footer section{
    flex-direction: column;
    font-size: 0.9em;
    align-items: center;
    display: flex;
}
footer section article{
    flex-direction: column;
    display: flex;
    padding: 10px;
}
footer section article p{
    color: #fff;
}
footer section article a{
    transition: color 0.5s ease;
    padding: 5px 0;
}
footer nav{
    border-bottom: #aa00ff solid 1px;
    border-top: #aa00ff solid 1px;
    justify-content: space-evenly;
    padding: 15px 0;
    font-size: 1.5em;
    display: flex;
}
footer div{
    justify-content: center;
    padding: 15px 0;
    display: flex;
}
footer:hover{
    border: solid 1px #aa00ff;
    box-shadow: 0 0 5px #aa00ff;
}
footer a:hover{
    color: #fff;
}
footer nav i.fa-x-twitter{
    text-shadow: 0 0 3px #ffffff;
    color: #ffffff;
}
footer nav i.fa-facebook{
    text-shadow: 0 0 3px #1877F2;
    color: #1877F2;
}
footer nav i.fa-instagram{
    text-shadow: 0 0 3px #fde964;
    color: #fde964;
}
footer nav i.fa-whatsapp{
    text-shadow: 0 0 3px #25D366;
    color: #25D366;
}
footer nav i.fa-youtube{
    text-shadow: 0 0 3px #FF0000;
    color: #FF0000;
}
@media (min-width: 460px){
    header div.min article a{
        padding: 0 15px;
    }
    header div.min article a i{
        font-size: 1em;
    }
    header div.min form input{
        font-size: 1.5em;
    }
    footer section{
        justify-content: space-evenly;
        flex-direction: row;
        display: flex;
    }
}
@media(min-width: 769px){
    header div.min{
        display: none;
    }
    header div.max{
        border-bottom: solid 1px #333;
        justify-content: space-between;
        display: flex;
    }
    header div.max div.logo{
        background: #080808;
        padding: 10px;
        border-top-right-radius: 50px;
    }
    header nav{
        justify-content: space-between;
        flex-direction: column;
        display: flex;
        width: 80vw;
    }
    header nav form{
        justify-content: flex-end;
        display: flex;
        padding: 20px;
    }
    header nav form input{
        border: 1px solid #0d0d0d;
        background: #010101;
        border-radius: 15px;
        color: #888;
        padding: 5px 15px;
        font-size: 1.3em;
    }
    header nav form button{
        border-radius: 20px;
        transition: all 1s;
        margin-left: 5px;
        font-size: 1.2em;
    }
    header ul{
        background: linear-gradient(45deg, #080808, transparent);
        align-items: flex-end;
        align-content: center;
        margin-bottom: 0px;
        position: relative;
        padding-left: 0px;
        margin-left: 0px;
        flex-wrap: wrap;
        margin-top: 0px;
        display: flex;
        bottom: 0px;
        left: 0px;
    }
    header ul li{
        list-style-type: none;
        padding: 5px 0;
    font-size: 1.2em;
    } 
    header ul li a{
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        border: 1px solid #222;
        background: #010101;
        text-decoration: none;
        transition: all 0.5s;
        color: #888;
        padding: 4px 15px;
        margin: 0 -10px 0 0;
    }
    header ul li a:hover{
        color: #fff;
        box-shadow: inset 0px 0px 5px 0px #aa00ff;
    } 
    header section{
        border-bottom-left-radius: 45px;
        border-top-left-radius: 45px;
        background: #07000b;
        align-items: center;
        display: flex;
    }
    header section div.usericon i{
        transition: all 0.5s;
        padding: 10px 13px;
        position: relative;
        font-size: 40px;
        margin: 0 15px;
    }
    header section div.subicon{
        flex-direction: column;
        margin: 0 15px;
        display: flex;
    }
    header section div.subicon i{
        transition: all 0.5s;
        color: #aa00ff;
        padding: 4px;
        margin: 3px;
    }
    header section div i{
        border-radius: 50%;
        color: #aa00ff;
    }
    footer{
        font-size: 1.5em;
    }
    footer nav i{
        font-size: 1em;
    }
    
}