*{
  font-family: 'Gemunu Libre', sans-serif;
  box-sizing: border-box;
}
main{
  display: grid;
  color: white;
  justify-items: center;
}
main h2{
  margin: 25px 0 10px 0;
}
main form{
  backdrop-filter: blur(3px) brightness(0.4);
  background: #0a0a0a69;;
  border: solid 1px #666;
  border-radius: 15px;
  font-size: 1.2em;
  padding: 5px;
  grid-template-columns: 1fr 1fr;
  align-items: baseline;
  display: grid;
  row-gap: 10px;
}
main form h2{
  margin: 10px;
}
main input{
  height: 27px;
  padding: 5px 8px 5px 10px;
  border: solid 1px #222;
  background: #00000080;
  border-radius: 10px;
  color: white;
  outline: none;
}
main form p{
  text-shadow: 0 0 10px #ff0707;
  margin: 3px 10px 10px 10px;
  color: #ff0707;
  font-size: 0.75em;
}
main form select{
  outline: none;
  background: #00000080;
  border-radius: 7px;
  border: solid 1px #333;
  color: #666;
  height: 27px;
}
main form select option{
  background-color: #000000f0;
}
main form div{
  background-color: #00000080;
  border-radius: 7px;
  border: solid 1px #333;
}
main form div{
  position: relative;
}
main form div p{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
main form div input[type="checkbox"]{
  appearance: none;
  margin: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  border: solid 1px #333;
  cursor: pointer;  
}
main form div input[type="checkbox"]::before{
  content: "Recordarme";
  width: 100%;
  height: 100%;
  border: solid 1px #00000000;
  transition: 120ms all;
}
main form div input[type="checkbox"]:checked{
  border: solid 1px #aa00ff;
}
main form input[type="file"]{
  opacity: 0;
  width: 100%;
}
main form div{
  background: #00000080;
  border: solid 1px #333;
  height: 27px;
  border-radius: 10px;
}
main form div p{
  color: #666;
  text-shadow: none;
  margin: 0;
}
main form div button{
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.preview{
  backdrop-filter: blur(3px) brightness(0.4);
  background: #0a0a0a69;;
  border: solid 1px #666;
  border-radius: 15px;
  padding: 5px;
  display: flex;
  justify-content: center;
  height: auto;
  width: auto;
  margin: 15px 0 0 0;
}
.preview img{
  height: auto;
  width: auto;
  border-radius: 10px;
}
@media(min-width: 768px){
  main h2{
    margin: 130px 0 0 0;
  }
  main form{
    margin: 10px 0 0 0;
    width: 70%;
    padding: 15px;
  }
}