.formulario {
    display: flex;
    flex-direction:column;
  }

  .mainform{
    border-style: solid;
    border-color: #1cdb58;
    width: 50%;
    display: flex;
    flex-direction:column;
    position: relative;
    padding-left: 1%;
  }

.espacios{
  width: 65%;
}

.botoncancelar{
  width: 4%;
  position: absolute;
  top: 0%;
  left: 96%;
  transition: all 1s;
}

.botoncancelar:hover{
  background-color: rgb(235, 77, 50);
  color: aliceblue;
}
.enviar{
  width: 24%;
  position: relative;
left: 75%;
transition: all 1s;
}

.enviar:hover{
  color: rgb(0, 0, 0);
  background-color: #12e0d9 
}

.inv{
  color: transparent;
  text-decoration: none;
  width: 100%;
}

.sesion{
  position: absolute;
top: 89%;
left: 19%;
color: black;
}

.olv-contra{
  position: absolute;
top: 89%;
left: 19%;
color: rgb(236, 19, 19);
}