*{
  font-family: 'Gemunu Libre', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}
main section{
  margin: 25px 0 0 0;
}
main section article{
  backdrop-filter: blur(3px) brightness(0.4);
    background: #00000069;
    border: solid 1px #361445;
    border-radius: 10px;
    justify-self: center;
    font-size: 0.9em;
    color: #666;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 70px 1fr 40px 1fr;
    margin: 0 0 5px 0;
    align-items: center;
    justify-items: center;
}
main section article p{
  margin: 5px;
}
main section article img{
  align-self: center;
  width: 70px;
  height: 70px;
  grid-row-start: 1;
  grid-row-end: 3;
}
main section article p:nth-of-type(2),
main section article p:nth-of-type(3),
main section article p:nth-of-type(4){
  grid-row-start: 2;
  grid-row-end: 3;
}
main section article p:last-child{
  grid-column-start: 4;
  grid-column-end: 5;
}
main section nav{
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #666;
  backdrop-filter: blur(3px) brightness(0.4);
    background: #00000069;
  border: solid 1px #361445;
  border-radius: 10px;
  padding: 5px 0;
  margin: 0 0 20px 0;
  justify-items: center;
}
main section nav i:first-child:hover{
  color: #00a2ff;
  text-shadow: 0 0 3px currentColor;
  cursor: pointer;
}
main section nav form button{
  font-size: 1.1em;
}
main section nav form button i:first-child:hover{
  color: #ff0000;
  text-shadow: 0 0 3px currentColor;
  cursor: pointer;
}
.error{
  grid-template-columns: 1fr;
  grid-template-rows:1fr ;
  justify-self: center;
  margin: 235px 0;
  width: auto;
}
.error p:only-child{
  grid-column-start: 1;
  grid-column-end: 2;
}
@media(min-width: 768px){
  main section{
    margin: 130px 0 0 0;
  }
  main section article{
    font-size: 1.2em;
    grid-template-columns: 120px 1fr 40px 1fr;
    margin: 0 0 5px 0;
  }
  main section article img{
    grid-row-start: 1;
    grid-row-end: 3;
    width: 120px;
    height: 120px;
  }
  .error{
    font-size: 1.5em;
    backdrop-filter: blur(3px) brightness(0.4);
    background: #00000069;
    padding: 5px 10px;
  }
}
@media(min-width: 1024px){
  main section article{
    grid-template-columns: 180px 1fr 40px 1fr;
  }
  main section article img{
    width: 180px;
    height: 180px;
  }
  main section nav{
    font-size: 1.5em;
    padding: 10px 0;
  }
}