

.carrito-de-compras {
  display: flex;
  margin: 50px auto;
  justify-content: space-around;
}

.carrito-de-compras .carrito-container-productos {
  width: 65%;
  box-shadow: 0px 0px 10px #aa00ff;
  border-radius: 20px;
  background-color: #000000ad;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.carrito-de-compras .carrito-container-productos-item-titulo {
  margin: 0px;
  background-color: #000000ad;
  color: #FFF;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  border-bottom: 1px solid white;
}

.carrito-container-productos-item-producto {
  position: relative;
  display: flex;
  margin: 20px auto;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0px 0px 10px #aa00ff
}

.carrito-de-compras .carrito-container-productos-item-producto-img {
  width: 15%;
  object-fit: contain;
}

.carrito-de-compras .carrito-container-productos-item-producto-texto-titulo, .carrito-de-compras .carrito-container-productos-item-producto-texto-oferta, .carrito-de-compras .carrito-container-productos-item-producto-texto-precio, .carrito-de-compras .carrito-container-productos-item-producto-texto-cantidad {
  color: white;
  width: 20%;
}

.carrito-de-compras .carrito-container-productos-item-producto-texto-titulo {
  text-align: center;
  font-size: 0.7em;
}

.carrito-de-compras .carrito-container-productos-item-producto-texto-oferta {
  font-size: 0.5em;
  color: #aa00ff;
  text-align: center;
} 

.carrito-de-compras .carrito-container-productos-item-producto-texto-precio {
  font-size: 0.6em;
  text-align: center;
}

.carrito-de-compras .carrito-container-productos-item-producto-texto-cantidad {
  font-size: 0.6em;
  text-align: center;
}

.carrito-de-compras .carrito-container-productos .carrito-container-productos-item-producto .carrito-container-productos-item-producto-contenedor .carrito-container-productos-item-producto-texto-cantidad {
  border: 1px solid #636363;
  padding: 10px;
  box-sizing: content-box;
  background-color: #636363;
}

.carrito-de-compras .carrito-container-productos-item-producto-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carrito-de-compras .carrito-container-productos-item-producto i {
  transition: none;
  transform: none;
  color: red;
  background-color: #000000ad;
  border: none;
  box-sizing: border-box;
}

.carrito-de-compras .carrito-container-productos-item-producto-contenedor i {
  transition: none;
  transform: none;
  color: white;
  background-color: #000000ad;
  border: none;
  position: static;
  box-sizing: border-box;
  padding: 7px;
  
}

.carrito-de-compras .carrito-container-compraventa {
  width: 30%;
  box-shadow: 0px 0px 10px #aa00ff;
  border-radius: 20px;
  background-color: #000000ad;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.carrito-container-compraventa-contenedor-subtotal{
  display: flex;
  justify-content: space-between;
}

.carrito-container-compraventa  .carrito-container-compraventa-item-texto {
  color: white;
}

.carrito-container-compraventa  .carrito-container-compraventa-item-precio {
  color: #aa00ff;
}

.carrito-container-compraventa .carrito-container-compraventa-item-texto-modified {
  color: green;
}

.carrito-container-compraventa  .carrito-container-compraventa-contenedor-button {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.carrito-container-compraventa  .carrito-container-compraventa-contenedor-button button {
  background-color: #0a0a0a;
  border-top: 3px solid #333;
  border-left: 3px solid #333;
  border-right: 3px solid #666;
  border-bottom: 3px solid #666;
  color: #666
}



.carrito-de-compras .carrito-container-productos i {
  background-color: #2a2a2a;
  width: auto;
  height: auto;
  border: 1px solid #2a2a2a;
  border-radius: 0px;
}

@media (min-width: 320px) {
  .carrito-de-compras {
    flex-direction: column;
    align-items: center;
  }

  .carrito-de-compras .carrito-container-productos {
    width: 100%;
    margin-bottom: 20px;
  }

  .carrito-de-compras .carrito-container-compraventa {
    width: 100%;
  }

  .carrito-container-compraventa-contenedor-subtotal{
    flex-direction: column;
  }
  
  .carrito-container-productos-item-producto {
    flex-direction: column;
  }

  .carrito-de-compras .carrito-container-productos-item-producto-img {
    width: 80%;
    object-fit: contain;
  }

  .carrito-de-compras .carrito-container-productos-item-producto-contenedor + i {
    top: 5px;
    right: 5px;
    position: absolute;
  }

  .carrito-de-compras .carrito-container-productos-item-producto-texto-titulo {
    text-align: center;
    font-size: 0.7em;
    width: 100%;
  }
  
  .carrito-de-compras .carrito-container-productos-item-producto-texto-oferta {
    font-size: 0.5em;
    color: #aa00ff;
    text-align: center;
    width: 50%;
  } 
  
  .carrito-de-compras .carrito-container-productos-item-producto-texto-precio {
    font-size: 0.6em;
    text-align: center;
    width: 50%;
  }
  
  .carrito-de-compras .carrito-container-productos-item-producto-texto-cantidad {
    font-size: 0.6em;
  }

  .carrito-de-compras .carrito-container-productos-item-producto > i {
    background-color: #000000ad;
    border: none;
    position: absolute;
    top: 0px;
    right: 0px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px #aa00ff;
    border-radius: 35%;
  }
}

@media (min-width: 768px) {
  .carrito-de-compras {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }
  
  .carrito-de-compras .carrito-container-productos {
    width: 60%;
  }

  .carrito-de-compras .carrito-container-compraventa {
    width: 35%;
  }

  .carrito-container-compraventa-contenedor-subtotal{
    flex-direction: row;
  }

  .carrito-container-productos-item-producto {
    flex-direction: row;
  }

  .carrito-de-compras .carrito-container-productos-item-producto-img {
    width: 15%;
    object-fit: contain;
  }

  .carrito-de-compras .carrito-container-productos-item-producto > i {
    transition: none;
    transform: none;
    color: red;
    background-color: #000000ad;
    border: none;
    position: absolute;
    top: -10px;
    right: -10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px #aa00ff;
    border-radius: 35%;
  }
}

@media (min-width: 1024px) {
  
  .carrito-de-compras .carrito-container-productos {
    width: 60%;
  }

  .carrito-de-compras .carrito-container-compraventa {
    width: 35%;
  }
  
  
  .carrito-de-compras .carrito-container-productos-item-titulo {
    margin: 0px;
    background-color: #000000ad;
    color: #FFF;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    border-bottom: 1px solid white;
  }
  
  .carrito-container-productos-item-producto {
    position: relative;
    display: flex;
    margin: 20px auto;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .carrito-de-compras .carrito-container-productos-item-producto-img {
    width: 15%;
    object-fit: contain;
  }

  .carrito-de-compras .carrito-container-productos-item-producto-texto-titulo, .carrito-de-compras .carrito-container-productos-item-producto-texto-oferta, .carrito-de-compras .carrito-container-productos-item-producto-texto-precio, .carrito-de-compras .carrito-container-productos-item-producto-texto-cantidad {
    color: white;
    width: 20%;
  }
  
  .carrito-de-compras .carrito-container-productos-item-producto-texto-titulo {
    text-align: center;
    font-size: 0.7em;
  }
  
  .carrito-de-compras .carrito-container-productos-item-producto-texto-oferta {
    font-size: 0.5em;
    color: #aa00ff;
    text-align: center;
  } 
  
  .carrito-de-compras .carrito-container-productos-item-producto-texto-precio {
    font-size: 0.6em;
    text-align: center;
  }
  
  .carrito-de-compras .carrito-container-productos-item-producto-texto-cantidad {
    font-size: 0.6em;
    text-align: center;
  }
}