* {
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
}

body {
  background-color: #2B2B2B;
}

header {
  background-color: #ffffff;
}

.formulario {
    display: flex;
    flex-direction:column;
  }

  .mainform{
    border-style: solid;
    border-color: #1cdb58;
    width: 50%;
    display: flex;
    flex-direction:column;
    position: relative;
    padding-left: 1%;
  }

.espacios{
  width: 65%;
}

.botoncancelar{
  width: 4%;
  position: absolute;
  top: 0%;
  left: 96%;
  transition: all 1s;
}

.botoncancelar:hover{
  background-color: rgb(235, 77, 50);
  color: aliceblue;
}
.enviar{
  width: 24%;
  position: relative;
left: 75%;
transition: all 1s;
}

.enviar:hover{
  color: rgb(0, 0, 0);
  background-color: #12e0d9 
}

.inv{
  color: transparent;
  text-decoration: none;
  width: 100%;
}

.sesion{
  position: absolute;
top: 89%;
left: 19%;
color: black;
}

.olv-contra{
  position: absolute;
top: 89%;
left: 19%;
color: rgb(236, 19, 19);
}

header {
  border: 1px solid black;
}

main {
  padding-top: 10px;
  background-color: #2B2B2B;
}

.search-bar-carrito {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.search-bar-carrito input {
  width: 40%;
  border: solid 1px #ffffff;
  border-radius: 7px 0px 0px 7px;
  padding: 10px;
}

.search-bar-carrito button {
  width: 5%;
  box-sizing: border-box;
  background-color: #ffffff;
  border: none;
  border-radius: 0px 5px 5px 0px;
}

main .carrito-productos {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
}

main section article {
  display: flex;
  width: 45%;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
  background-color: #ffffff;
}

main section article img {
  width: 50%;
  object-fit: contain;
}

main section .info-producto {
  padding-left: 2px;
  width: 50%;
  border-left: #000000 solid 2px;
  font-size: 25px
}

main section .info-producto p {
  margin: 15px auto;
}

.oferta-producto {
  color: #1cdb58;
  font-weight: bold;
}

.precio-producto {
  font-size: 2rem;
}