*{
    font-family: 'Press Start 2P';
    box-sizing: border-box;
}
body{
    background-image: url(/images/fondo.jpg);
    background-size: 45%;
}
header{
    background-color: #070707;
    color: white;
}
div.burger-menu{
    text-align: center;
}
div.burger-menu i{
    background-color: #5e00aa;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}
.linea-arriba{
    display: flex;
    justify-content: space-between;
}
nav ul{
    padding-left: 0px;
    margin-left: 0px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
a {
    text-decoration: none;
}
h3{
    font-size: 24px;
}
  
p{
    font-size: 12px;
}
div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    align-items: center;
}  
header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
header div.logo, header.form{
    width: 90%;
} 
header div.logo{
    padding: 10px;
    filter: drop-shadow(0 0 5px #aa00ff);
}
header.form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
}
header nav{
    font-size: 12px;
    margin-left: 20px;
}
header ul li{
    font-size: 10px;
    list-style-type: none;
    padding: 7px;
    border-top:3px solid #35005b;
    border-left:3px solid #35005b;
    border-right:3px solid #aa00ff;
    border-bottom:3px solid #aa00ff;
} 
header ul li:hover{
    box-shadow: 0 0 10px #aa00ff;
} 
header ul li a{
    text-decoration: none;
    color: white;
}
form{
    display: flex;
}
input{
    font-size: 15px;
    padding: 5px;
    width: 350px ;
    background-color: #0a0a0a;
    color: #7a7a7a;
    box-shadow: 0 0 5px #666;
}
button{
    color:#5e00aa;
    font-size: 15px;
    border-top:3px solid #35005b;
    border-left:3px solid #35005b;
    border-right:3px solid #aa00ff;
    border-bottom:3px solid #aa00ff;
    padding: 5px;
    background-color: #070707;
}
button:hover{
    box-shadow: 0 0 15px #aa00ff;
}
header.form.submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}
  div.last-visit, div.offers{
    display: flex;
    flex-wrap: wrap;
}
.price{
    color: white;
    font-size: 15px;
    width: 30%;
}
.discount{
    width: 70%;
} 
.discount, .description{
    font-size: 15px;
    font-weight: normal;
}
h3, .description{
    color: white;
}
.description{
    display: none;
    margin-top: 20px;
}
main{
    width: 90%;
    margin: 0 auto;
}
main section article{
    border-radius: 20px;
    background-color: #000000ad;
    margin: 10px 0px;
}
main section article img{
    width: 100%;
}
main section article i, .discount{
    color: #aa00ff;
}
main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #3977b5;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: 1s;
}
main section article i:hover{
  transform: rotate(-90deg);
}
main section h3{
    margin: 20px 0px;
    background-color: #000000ad;
    border-radius: 10px;
    color: #FFF;
    font-size: 20px;
    padding: 1%;
    text-align: center;
    border: solid 1px #aa00ff;
    border-radius: 5px;
    box-shadow: 0 0 15px #aa00ff;
}
article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
    transition: opacity 1s;
    opacity: 0;
}
.main-article:hover{
  opacity: 1;
}
<!-----FOOTER--Estilos--/
footer {
    background: #eef8ff;
}
footer {
  background: linear-gradient(to right, #00093c,#2d0b00);
  color: #fff;
  padding: 15px;
  border-top-left-radius: 125px;
}
.row {
  display: flex;
  flex-wrap: nowrap;
}

.logo h3 {
  
    font-size: 15px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(238, 0, 186, 0.5);
    margin: 45px;
}

.col h2 {
  width: fit-content;
  position: relative;
  color: #df67f7;
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 20px;
}
.col ul  {
  list-style: none;
  margin: 0px;
  padding: 10px;
}
.col ul li{
    list-style: none;
    margin-bottom: 10px;
}
.col ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "Arial", Helvetica, sans-serif
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright {
    text-align: center;
}
.underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0px;
    left: 10px;
    animation: moving 2s linear infinite;
}
.mainform label{
 color: beige;
}
@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}
@media (min-width: 361px){
    main section article .description{
        display: block;
    }
    main section article{
        box-shadow: 0px 0px 10px #aa00ff;
    }
    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch
    }
    main section div.products article{
        display: flex;
        align-content: stretch;
        align-items: center;
        flex-wrap: wrap;
        width: 45%;
    }
    .price, .discount{
        width: 50%;
    }
    .linea-arriba{
        display: none;
    }
}
@media(min-width: 769px){
  
    main section div.products article{
        width: 30%;
    }
    .linea-arriba{
      display: flex;
    }
    .burger-menu{
      display: none;
    }
    .top-header{
        display: flex;
        justify-content: space-between;
    }

  
}