*{
    font-family: 'Gemunu Libre', sans-serif;
    box-sizing: border-box;
}
main section{
    margin: 30px 0 0 0;
}
main section article{
    background: linear-gradient(90deg, #00000099, #2400336b);
    border: solid 1px #181818;
    border-radius: 20px;
    margin: 10px;
    box-shadow: inset -40px 0px 1px 0px #000000cf;
}
main section article a{
    display: flex;
    text-decoration: none;
    color: #ddd;
    justify-content: space-between;
}
main section article a img{
    box-shadow: 0 0 4px #7f7f7f;
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 30px;
    margin: 5px;
    width: auto;
}
main section article h5{
    margin: auto 20px;
}
.user-id{
    color: #a0f;
    text-shadow: 0px 0px 5px #aa00ff;
}
@media(min-width: 768px){
    main section{
        justify-content: center;
        margin: 150px 0 0 0;
        flex-wrap: wrap;
        display: flex;
    }
    main section article{
        box-shadow: inset -90px 0px 1px 0px #000000cf;
        border-radius: 70px;
        margin: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.5em;
    }
    main section article a{
        margin: 10px;
    }
    main section article a img{
        height: 70px;
    }
    .user-id{
        margin: auto 30px;
    }
}