<header>
    <div class="min">
        <article>
            <a href="/"><i class="fa-solid fa-house purplelogo" style="color: #aa00ff"></i></a>

            <% if (locals.isLog) { %>
                <a href="/products/create"><i class="fa-solid fa-hand-holding-dollar purplelogo" style="color: #aa00ff"></i></a>
                <a href="/users"><i class="fa-solid fa-users purplelogo" style="color: #aa00ff"></i></a>
                <a href="/products"><i class="fa-solid fa-cubes purplelogo" style="color: #aa00ff"></i></a>
            <% } else { %>
                <a href="/products"><i class="fa-solid fa-cubes purplelogo" style="color: #aa00ff"></i></a>
            <% } %>
            
        </article>
        <form action="/products/results/search" method="GET">
            <input  placeholder="Buscar..." name="title"><button type="submit" class="fa fa-search"></button>
        </form>
        <article>

            <% if (locals.isLog) { %>
                <a href="/users/profile"><i class="fa-solid fa-user-check purplelogo" style="color: #aa00ff"></i></a>
                <a href="#"><i class="fa-solid fa-gear purplelogo" style="color: #aa00ff"></i></a>
                <a href="/products/cart"><i class="fas fa-shopping-basket purplelogo" style="color: #aa00ff"></i></a>
            <% } else { %>
                <a href="/users/register"><i class="fa-regular fa-user purplelogo" style="color: #aa00ff"></i></a>
                <a href="/users/login"><i class="fas fa-sign-in-alt purplelogo" style="color: #aa00ff"></i></a>
                <a href="#"><i class="fa-solid fa-bars purplelogo" style="color: #aa00ff"></i></a>
            <% } %>
            
        </article>
    </div>
    <div class="max">
        <div class="logo"> 
            <a href="/"><img src="/images/logo.jpg" alt="Logo de electroHouse" width="100px" height="100px"></a>
        </div>
        <nav>
            <form action="/products/results/search" method="GET">
                <input placeholder="Buscar productos..." name="title"><button type="submit" class="purplebox fa fa-search" style="color: #aa00ff"></button>
            </form>
            <ul>
                <% if (locals.isLog) { %>
                    <li style="z-index: 3;"><a href="/products/create">Vender</a></li>
                    <li style="z-index: 2;"><a href="/users">Usuarios</a></li>
                    <li style="z-index: 1;"><a href="/products">Productos</a></li>
                <% } else { %>
                    <li style="z-index: 1;"><a href="/products">Productos</a></li> 
                <% } %>
                
            </ul>
        </nav>
        <section>
            
            <% if (locals.isLog) { %>
                <div class="usericon">
                    <a href="/users/profile"><img src="/images/user-avatar/<%= locals.logUser.avatar %>" class="purplebox"></a>
                </div>
                <div class="subicon">
                    <a href="#"><i class="fa-solid fa-gear purplebox" style="padding: 4px;"></i></a>
                    <a href="/products/cart"><i class="fas fa-shopping-basket purplebox" style="padding: 4px 3px;"></i></a>
                </div>
            <% } else { %>
                <div class="usericon">
                    <a href="/users/register"><i class="fa-regular fa-user purplebox"></i></a>
                </div>
                <div class="subicon">
                    <a href="/users/login"><i class="fas fa-sign-in-alt purplebox"></i></a>
                    <a href="#"><i class="fa-solid fa-bars purplebox" style="padding: 4px 5px;"></i></a>
                </div>
            <% } %>

        </section>
    </div>
</header>