<!DOCTYPE html>
<html lang="es">
    <%- include("../partials/head.ejs")%>
<body>
    <%- include("../partials/header.ejs")%>
    <main class="mainform">
        <div>
            <form action="/" method="">
                <label for="usuario">Nombre de usuario</label>
                <input type="text" name="usuario">
                <label for="contra">Contraseña</label>
                <input type="password" name="contra">

            </form>
        </div>
    <div class="inv"> 1</div>
    <button type="submit" class="enviar"> Enviar datos</button>
    <button class="botoncancelar" type="reset">X</button>
    </form>
    <a class="olv-contra" href="/">Olvide mi contraseña</a>
    </main>
    <%- include("../partials/footer.ejs")%>
</body>
</html>