<!DOCTYPE html>
<html lang="es">
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/css/sign&log.css">
    <link rel="stylesheet" href="/css/colores.css">
    <link rel="stylesheet" href="/css/partials.css">
    <%- include("../partials/head") %>
</head>


<body>

    <%- include("../partials/header") %>

<main>

        <form class=" purpleshadowbox" action="/register" method="post">
            <h2>Datos</h2>

            <label for="nombre">Nombre completo</label>
            <input class="grayshadowbox" type="text" name="Nombre" id="nombre" title="Le pedimos que ingrese su nombre" required>
    
            <label for="usuario">Nombre de usuario</label>
            <input class="grayshadowbox" type="text" name="Usuario" id="usuario" required minlength="5" >
    
            <label for="fecha">Correo electronico</label>
            <input class="grayshadowbox" type="email" name="correo" id="mail" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" title="Ingresa un correo electronico valido">

            <label for="clave">Contrase単a</label>
            <input class="grayshadowbox" type="password" name="contrase単a" id="clave" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" title="Por favor ingrese una contrase単a que contenga al menos un numero, un digito, y tenga como minimo 8 caracteres de longitud">

            <button type="submit" class="enviar">Enviar</button>
            <button class="cancel" type="reset">X</button>
            <a href="/login">多Ya tienes cuenta?</a>
        </form>
    

</main>

</body>
</html>