<!DOCTYPE html>
<html lang="es">
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/css/sign&log.css">
    <link rel="stylesheet" href="/css/colores.css">
    <link rel="stylesheet" href="/css/partials.css">
    <%- include("../partials/head") %>
</head>


<body>

    <%- include("../partials/header") %>

<main>

        <form class=" purpleshadowbox" action="/register" method="post">
            <h2>Datos</h2>

            <label for="nombre">Nombre completo</label>
            <input class="grayshadowbox" type="text" name="Nombre" id="nombre" required pattern="[A-Za-z]{2,30}">
    
            <label for="usuario">Nombre de usuario</label>
            <input class="grayshadowbox" type="text" name="Usuario" id="usuario" pattern="[A-Za-z0-9-]{3,15}" >
    
            <label for="fecha">Correo electronico</label>
            <input class="grayshadowbox" type="email" name="correo" id="fecha" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}">

            <label for="clave">Contraseña</label>
            <input class="grayshadowbox" type="password" name="contraseña" id="clave" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$">

            <button type="submit" class="enviar">Enviar</button>
            <button class="cancel" type="reset">X</button>
            <a href="/login">¿Ya tienes una cuenta?</a>
        </form>
    

</main>

</body>
</html>