<!DOCTYPE html>
<html lang="es">

<head>

    <title>Carrito De Compras</title>


    <link rel="stylesheet" href="/css/stylesA.css">
    <link rel="stylesheet" href="css/stylesCarrito.css">

    <link rel="stylesheet" href="/css/partials.css">
    <link rel="stylesheet" href="/css/colores.css">
    <%- include("../partials/head") %>
</head>

<body>

    <%- include("../partials/header.ejs")%>

    <main class="carrito-de-compras">

        <section class="carrito-container-productos">

            <div>
                <h3 class="carrito-container-productos-item-titulo">PRODUCTOS AGREGADOS AL CARRITO</h3>
            </div>

            <article class="carrito-container-productos-item-producto">
                <img src="images/cat-parlante.png" alt="" class="carrito-container-productos-item-producto-img">
                <p class="carrito-container-productos-item-producto-texto-titulo">Parlante CAT</p>
                    <p class="carrito-container-productos-item-producto-texto-precio">$6.770</p>
                    <p class="carrito-container-productos-item-producto-texto-oferta">40% off</p>
                <div class="carrito-container-productos-item-producto-contenedor">
                    <span><i class="fa-solid fa-minus"></i></span>
                        <p class="carrito-container-productos-item-producto-texto-cantidad">1</p>
                    <span><i class="fa-solid fa-plus"></i></span>
                </div>
                <i class="fa-solid fa-x"></i>
            </article>

            <article class="carrito-container-productos-item-producto">
                <img src="images/iphone-14-promax.png" alt="" class="carrito-container-productos-item-producto-img">
                <p class="carrito-container-productos-item-producto-texto-titulo">Iphone 14 PRO MAX</p>
                <p class="carrito-container-productos-item-producto-texto-precio">$230000</p>
                <p class="carrito-container-productos-item-producto-texto-oferta">20% off</p>
                <div class="carrito-container-productos-item-producto-contenedor">
                    <span><i class="fa-solid fa-minus"></i></span>
                    <p class="carrito-container-productos-item-producto-texto-cantidad">1</p>
                    <span><i class="fa-solid fa-plus"></i></span>
                </div>
                <i class="fa-solid fa-x"></i>
            </article>

            <article class="carrito-container-productos-item-producto">

                <img src="images/xbox-control.png" alt="" class="carrito-container-productos-item-producto-img">
                <p class="carrito-container-productos-item-producto-texto-titulo">Control de Xbox</p>
                <p class="carrito-container-productos-item-producto-texto-precio">$23200</p>
                <p class="carrito-container-productos-item-producto-texto-oferta">5% off</p>
                <div class="carrito-container-productos-item-producto-contenedor">
                    <span><i class="fa-solid fa-minus"></i></span>
                    <span class="carrito-container-productos-item-producto-texto-cantidad">1</span>
                    <span><i class="fa-solid fa-plus"></i></span>
                </div>
                <i class="fa-solid fa-x"></i>
            </article>

        </section>

        <aside class="carrito-container-compraventa">

            <div>
                <h3 class="carrito-container-productos-item-titulo">RESUMEN DE COMPRA</h3>

                <div class="carrito-container-compraventa-contenedor">
                    <div class="carrito-container-compraventa-contenedor-subtotal">
                        <p class="carrito-container-compraventa-item-texto">Productos(3)</p>
                        <p class="carrito-container-compraventa-item-precio">$259970</p>
                    </div>
                    <div class="carrito-container-compraventa-contenedor-subtotal">
                        <p class="carrito-container-compraventa-item-texto">Descuentos</p>
                        <p class="carrito-container-compraventa-item-precio">$20000</p>
                    </div>
                    <div>
                        <p class="carrito-container-compraventa-item-texto-modified">Envio a mi casita</p>
                    </div>
                    <h3 class="carrito-container-productos-item-titulo">TOTAL</h3>
                    <div class="carrito-container-compraventa-contenedor-subtotal">
                        <p class="carrito-container-compraventa-item-texto">Costo total</p>
                        <p class="carrito-container-compraventa-item-precio">239970</p>
                    </div>
                    <div class="carrito-container-compraventa-contenedor-button">
                        <button type="submit" class="carrito-container-compraventa-item-button">Comprar</button>
                    </div>
                </div>
            </div>
        </aside>

    </main>

    <%- include("../partials/footer") %>

</body>

</html>