<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ElectroHouse</title>
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <script> src ="https://kit.fontawesome.com/f7ce8fc261.js" </script>
</head>
<header>
    
</header>
<body>
    <nav>
        <h3>detalles del producto</h3>
    </nav>
    <main class="carrito-de-compras">
        <section>
            <img src="/public/images/cat-parlante.jpg">
        </section>
        <section>
           <h3>Control de XBOX Series X inalambrico</h3>
           <h4>$24.913</h4>
           <h5>12x $2.076</h5>
           <ul> Detalles generales del producto
           <li>Compatible con XBOX Series X, One y Windows 10</li>
           <li></li>Baterias Recargables incluidas</li>
           <li></li>Conectividad Bluetooth</li>
           <li>Puerto para Headset</li>
           <li>Color:Negro</li>
           </ul>
        </section>
    </main>

</body>
</html>