<!DOCTYPE html>
<html lang="en">

<head>
    <title>ElectroHouse</title>
    <link rel="stylesheet" href="/css/colores.css">
    <link rel="stylesheet" href="/css/partials.css">
    <link rel="stylesheet" href="/css/create.css">

    <%- include("../partials/head") %>
</head>


<body>
    <%- include("../partials/header") %>
    <main>
        <form action="/" method="POST">
            <input type="text" name="title" placeholder="Nombre del producto">
            <input type="text" name="description" placeholder="Descripción">
            <input type="file" name="image">
            <select name="category">
                <option value="1">Categoría 1</option>
                <option value="2">Categoría 2</option>
                <option value="3">Categoría 3</option>
              </select>
            <input type="number" name="price" placeholder="Precio">
            <input type="number" name="off" placeholder="Descuento">
            <input type="color" name="color1">
            <input type="color" name="color2">
            <input type="submit" value="Crear producto">
          </form>
    </main>
    <%- include("../partials/footer") %>
</body>
