<!DOCTYPE html>
<html lang="en">

<head>
    <title>ElectroHouse</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/colores.css">
    <link rel="stylesheet" href="/css/partials.css">

    <%- include("../partials/head") %>
</head>


<body>
    <%- include("../partials/header") %>

    <section class="purpleshadowbox">
        crear
    </section>

    <section class="purpleshadowbox">
        editar
    </section>

    <section class="purpleshadowbox">
        borrar
    </section>

    <%- include("../partials/footer") %>
</body>
