<!DOCTYPE html>
<html lang="en">
<head>
    <title>ElectroHouse</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/colores.css">
    <link rel="stylesheet" href="/css/partials.css">
   
    <%- include("../partials/head") %>
</head>


<body>
    <%- include("../partials/header") %>
    <main>
        <section class="last-visit">
            <h3 class="purpleshadowbox">SECCION </h3>
            <div class="products">
                <article class="purpleshadowbox">
                    <img src="images/cat-parlante.png" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$6.770</p>
                        <p class="discount">40% off</p>
                        <h4 class="description">Parlante CAT</h4>
                    </div>
                </article>
                <article class="purpleshadowbox">
                    <img src="images/iphone-14-promax.png" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$230.000</p>
                        <p class="discount">20% off</p>
                        <h4 class="description">Iphone 14 Promax</h4>
                    </div>
                </article>

                <article class="purpleshadowbox">
                    <img src="images/xbox-control.png" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$23.200</p>
                        <p class="discount">5% off</p>
                        <h4 class="description">Control de XBOX</h4>
                    </div>
                </article>
            </div>
        </section>
        <section class="offers">
            <h3 class="purpleshadowbox">Off</h3>
            <div class="products">
                <article class="purpleshadowbox">
                    <img src="images/cat-parlante.png" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$6.770</p>
                        <p class="discount">40% off</p>
                        <h4 class="description">Parlante CAT</h4>
                    </div>
                </article>
                <article class="purpleshadowbox">
                    <img src="images/iphone-14-promax.png" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$230.000</p>
                        <p class="discount">20% off</p>
                        <h4 class="description">Iphone 14 Promax</h4>
                    </div>
                </article>

                <article class="purpleshadowbox">
                    <img src="images/xbox-control.png" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$23.200</p>
                        <p class="discount">5% off</p>
                        <h4 class="description">Control de XBOX</h4>
                    </div>
                </article>
            </div>  
        </section>
    </main>

    <%- include("../partials/footer") %>

</body>
</html>