<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ElectroHouse</title>
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <script> src ="https://kit.fontawesome.com/f7ce8fc261.js" </script>
</head>
<header>
    
</header>
<body>
    <nav>
        <h3>detalles del producto</h3>
    </nav>
    <main>
        <section>
            <img src="/images/cat-parlante.jpg">
        </section>
        <section>
           <h3>Parlante CAT</h3>
           <h4>$72.623</h4>
           <h5>12x $12.349</h5>
           <ul> Detalles generales del producto
           <li>Manos Libres</li>
           <li></li>A prueba de agua</li>
           <li></li>Conectividad bluetooth.</li>
           <li>Microfono interno</li>
           <li>Color:Negro</li>
           </ul>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>